.how-to-flash {
  .intro--content {
    text-align: left;
  }
  
  .step {
    padding: 3em 2em;

    @media screen and (min-width: 567px) {
      max-width: 700px;
      margin: 0 auto;
    }

    img {
      max-width: 100%;
    }
    
    .content {
      padding-top: 1em;
    }

    header {
      .number {
        font-size: 2em;
        box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.3);
        border: 5px solid white;
        height: 65px;
        width: 65px;
        min-width: 65px;
        margin-right: 20px;
        border-radius: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        align-items: center;
        margin: 0 auto;
      }
      .title {
        h1 {
          font-size: 2em;
          margin: 1em 0 0;
          @media screen and (max-width: 576px) {
            font-size: 1.4em;
          }
        }
      }
    }
    .btn-group {
      @media screen and (max-width: 576px) {
        flex: 1 1 100%;
      }
    }
    .btn-select {
      min-width: 300px;
      display: flex;
      align-content: center;
      justify-content: center;
      align-items: center;
      @media screen and (max-width: 576px) {
        min-width: 100%;
      }
    }
  }
}
