.App {
  text-align: center;
}

.clone-icon {
  margin-top: 10px;
}

@media screen and (max-width: 600px) {
  .clone-icon {
    transform: rotate(90deg);
  }
}

a.primary-link {
  color: #424262;
  text-decoration: none;
}

.max-width-img {
  max-width: 100%;
}

/* Loading widget */
.pantahub-loading-wrapper {
  padding: 0.75rem;
  background-color: #f0f0f0;
  border-radius: 100%;
  margin: 0.5rem;
}

.pantahub-loading {
  animation-duration: 6s;
  animation-name: spin;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  box-sizing: border-box;
  display: inline-block;
  max-height: 100px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.editable {
  .editable-inner {
    padding: 0 0rem;
    transition: padding 0.5s, background-color 0.5s, border-bottom 0.5s;
  }
  .editable-inner {
    margin-right: 0.3em;
  }
  i {
    cursor: pointer;
  }
  .editable-inner[contenteditable='true'] {
    background-color: rgb(211,211,211);
    border-bottom: 1px solid rgb(180,180,180);
    padding: 0 0;
    outline: none;
  }
}

.progress-with-label {
  position: relative;
  &--label {
    color: white;
    position: absolute;
    top: 50%;
    left: 1em;
    margin-top: -0.7em;
    z-index: 1000;
    text-shadow: rgba(0,0,0, 0.3) -1px -1px;
  }
}

@for $i from 0 through 9 {
  .mt--#{$i*10} { margin-top: $i * 10px; }
  .mr--#{$i*10} { margin-right: $i * 10px; }
  .mb--#{$i*10} { margin-bottom: $i * 10px; }
  .ml--#{$i*10} { margin-left: $i * 10px; }
  .pt--#{$i*10} { padding-top: $i * 10px; }
  .pr--#{$i*10} { padding-right: $i * 10px; }
  .pb--#{$i*10} { padding-bottom: $i * 10px; }
  .pl--#{$i*10} { padding-left: $i * 10px; }
  .mt--#{$i} { margin-top: $i * 1em; }
  .mr--#{$i} { margin-right: $i * 1em; }
  .mb--#{$i} { margin-bottom: $i * 1em; }
  .ml--#{$i} { margin-left: $i * 1em; }
  .pt--#{$i} { padding-top: $i * 1em; }
  .pr--#{$i} { padding-right: $i * 1em; }
  .pb--#{$i} { padding-bottom: $i * 1em; }
  .pl--#{$i} { padding-left: $i * 1em; }

  @media screen and (max-width: 570px) {
    .mt-sm--#{$i*10} { margin-top: $i * 10px; }
    .mr-sm--#{$i*10} { margin-right: $i * 10px; }
    .mb-sm--#{$i*10} { margin-bottom: $i * 10px; }
    .ml-sm--#{$i*10} { margin-left: $i * 10px; }
    .pt-sm--#{$i*10} { padding-top: $i * 10px; }
    .pr-sm--#{$i*10} { padding-right: $i * 10px; }
    .pb-sm--#{$i*10} { padding-bottom: $i * 10px; }
    .pl-sm--#{$i*10} { padding-left: $i * 10px; }
    .mt-sm--#{$i} { margin-top: $i * 1em; }
    .mr-sm--#{$i} { margin-right: $i * 1em; }
    .mb-sm--#{$i} { margin-bottom: $i * 1em; }
    .ml-sm--#{$i} { margin-left: $i * 1em; }
    .pt-sm--#{$i} { padding-top: $i * 1em; }
    .pr-sm--#{$i} { padding-right: $i * 1em; }
    .pb-sm--#{$i} { padding-bottom: $i * 1em; }
    .pl-sm--#{$i} { padding-left: $i * 1em; }
  }
  .index-#{$i} { z-index: $i; position: relative; }
}

video {
  max-width: 100%;
}

.select-align-left .MuiSelect-select.MuiSelect-select {
  text-align: left;
}

.welcome {
  min-height: 60vh;
}